@define-color bg-primary     #0a0a0a;
@define-color bg-secondary   #1a1a1a;
@define-color bg-tertiary    #252525;

@define-color text-primary   #e0e0e0;

@define-color border-primary #333333;

@define-color accent-primary #8b5cf6;
@define-color accent-shadow rgba(139, 92, 246, 0.2);

* {
  all: unset;
  font-size: 14px;
  font-family: "Ubuntu Nerd Font";
  transition: 200ms;
}

trough highlight {
  background: @text-primary;
}

scale trough {
  margin: 0rem 1rem;
  background-color: @bg-secondary;
  min-height: 8px;
  min-width: 70px;
}

slider {
  background-color: @accent-primary;
}

.floating-notifications.background .notification-row .notification-background {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @bg-secondary;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @bg-primary;
  color: @text-primary;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 12.6px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @text-primary;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: #a6adc8;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @text-primary;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @text-primary;
  background-color: @bg-secondary;
  box-shadow: inset 0 0 0 1px @border-primary;
  margin: 7px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px @border-primary;
  background-color: @bg-secondary;
  color: @text-primary;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px @border-primary;
  background-color: @accent-primary;
  color: @text-primary;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @bg-primary;
  background-color: #f38ba8;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: #eba0ac;
  color: @bg-primary;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
  color: @bg-primary;
}

.control-center {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.8), inset 0 0 0 1px @bg-secondary;
  border-radius: 12.6px;
  margin: 18px;
  background-color: @bg-primary;
  color: @text-primary;
  padding: 14px;
}

.control-center .widget-title > label {
  color: @text-primary;
  font-size: 1.3em;
}

.control-center .widget-title button {
  border-radius: 7px;
  color: @text-primary;
  background-color: @bg-secondary;
  box-shadow: inset 0 0 0 1px @border-primary;
  padding: 8px;
}

.control-center .widget-title button:hover {
  box-shadow: inset 0 0 0 1px @border-primary;
  background-color: #2a2a2a;
  color: @text-primary;
}

.control-center .widget-title button:active {
  box-shadow: inset 0 0 0 1px @border-primary;
  background-color: @accent-primary;
  color: @bg-primary;
}

.control-center .notification-row .notification-background {
  border-radius: 7px;
  color: @text-primary;
  background-color: @bg-secondary;
  box-shadow: inset 0 0 0 1px @border-primary;
  margin-top: 14px;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 7px;
}

.control-center .notification-row .notification-background .notification.critical {
  box-shadow: inset 0 0 7px 0 #f38ba8;
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @text-primary;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: #b0b0b0;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @text-primary;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 3.4em;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 7px;
  color: @text-primary;
  background-color: #111111;
  box-shadow: inset 0 0 0 1px @border-primary;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  box-shadow: inset 0 0 0 1px @border-primary;
  background-color: @bg-secondary;
  color: @text-primary;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  box-shadow: inset 0 0 0 1px @border-primary;
  background-color: @accent-primary;
  color: @text-primary;
}

.control-center .notification-row .notification-background .close-button {
  margin: 7px;
  padding: 2px;
  border-radius: 6.3px;
  color: @bg-primary;
  background-color: #eba0ac;
}

.close-button {
  border-radius: 6.3px;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: #f38ba8;
  color: @bg-primary;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: #f38ba8;
  color: @bg-primary;
}

.control-center .notification-row .notification-background:hover {
  box-shadow: inset 0 0 0 1px @border-primary;
  background-color: #272727;
  color: @text-primary;
}

.control-center .notification-row .notification-background:active {
  box-shadow: inset 0 0 0 1px @border-primary;
  background-color: @accent-primary;
  color: @text-primary;
}

.notification.critical progress {
  background-color: #f38ba8;
}

.notification.low progress,
.notification.normal progress {
  background-color: @accent-primary;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 8px;
  background: @bg-secondary;
  border: 1px solid @border-primary;
  box-shadow: none;
}

.control-center-dnd:checked {
  background: @bg-secondary;
}

.control-center-dnd slider {
  background: @border-primary;
  border-radius: 8px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 8px;
  background: @bg-secondary;
  border: 1px solid @border-primary;
  box-shadow: none;
}

.widget-dnd > switch:checked {
  background: @bg-secondary;
}

.widget-dnd > switch slider {
  background: @border-primary;
  border-radius: 8px;
  border: 1px solid #6c7086;
}

.widget-mpris .widget-mpris-player {
  background: @bg-secondary;
  padding: 7px;
}

.widget-mpris .widget-mpris-title {
  font-size: 1.2rem;
}

.widget-mpris .widget-mpris-subtitle {
  font-size: 0.8rem;
}

.widget-menubar > box > .menu-button-bar > button > label {
  font-size: 3rem;
  padding: 0.5rem 2rem;
}

.widget-menubar > box > .menu-button-bar > :last-child {
  color: #f38ba8;
}

.power-buttons button:hover,
.powermode-buttons button:hover,
.screenshot-buttons button:hover {
  background: @bg-secondary;
}

.control-center .widget-label > label {
  color: @text-primary;
  font-size: 2rem;
}

.widget-buttons-grid {
  padding-top: 1rem;
}

.widget-buttons-grid > flowbox > flowboxchild > button label {
  font-size: 2.5rem;
}

.widget-volume {
  padding-top: 1rem;
}

.widget-volume label {
  font-size: 1.5rem;
  color: @accent-primary;
}

.widget-volume trough highlight {
  background: @accent-primary;
}

.widget-backlight trough highlight {
  background: #f9e2af;
}

.widget-backlight label {
  font-size: 1.5rem;
  color: #f9e2af;
}

.widget-backlight .KB {
  padding-bottom: 1rem;
}

.image {
  padding-right: 0.5rem;
}


