# Ignore all files
*

# But include specific files/folders
!.gitignore
!waybar/
!wofi/
!hypr/
!swaync/
!kitty/
!eww/

# Include files inside ignored directories
!waybar/**/*
!wofi/**/*
!hypr/**/*
!swaync/**/*
!kitty/**/*
!eww/**/*

!setup.sh