@import "styles/obsidian.css";

* {
  font-family: Symbols Nerd Font, JetBrainsMono;
  font-size: 15px;
}

#waybar {
  background-color: alpha(@bg, 0);
  color: @fg;
  border: solid alpha(@surface, 0.8);
  padding: 0;
}

#waybar.top {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
}

.modules-left, .modules-center, .modules-right {
  margin: 0;
  background-color: transparent;
}

.module {
  padding: 0 3px;
  margin: 0;
  border-radius: 0px;
  color: @fg;
  background-color: @surface;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common hover effect */
.module:hover, #clock:hover, #language:hover, #backlight:hover, #battery:hover, #pulseaudio:hover, #window:hover, #tray:hover, #custom-notification:hover {
  background-color: alpha(@accent-hover, 0.5);
  border: 2px solid @accent;
}

/* Battery full state (90% or below) */
#battery.full {
  color: @good;
}

#battery.full:hover {
  background-color: alpha(@good, 0.3);
}

/* Battery warning state (30% or below) */
#battery.warning {
  color: @warning;
}

#battery.warning:hover {
  background-color: alpha(@warning, 0.3);
}

/* Battery critical state (15% or below) */
#battery.critical {
  color: @critical;
}

#battery.critical:hover {
  background-color: alpha(@critical, 0.3);
}

/* Workspaces */
#workspaces {
  color: @fg;
  padding: 0;
}

#workspaces button {
  color: @fg;
  padding: 2px 6px;
  margin: 0;
  border: none;
  background-color: alpha(@surface, 0.6);
  border-radius: 3px;
}

#workspaces button:hover {
  background: alpha(@accent-hover, 0.6);
  color: @accent;
}

#workspaces button.active {
  background-color: alpha(@accent, 0.4);
  color: @fg;
}

#workspaces button.visible {
  background-color: alpha(@accent, 0.4);
  color: alpha(@fg-sub, 0.7);
}

#workspaces button.urgent {
  background-color: alpha(@critical, 0.3);
  color: @critical;
}

/* Window */
#window {
  background-color: @surface;
  padding: 0 12px;
  border-radius: 6px;
}

/* Bluetooth */
#bluetooth.on:not(.connected) { color: @warning; }
#bluetooth.connected { color: @info; }
#bluetooth.no-controller { color: @critical; }
#bluetooth.on:not(.connected):hover { background-color: alpha(@warning, 0.5); }
#bluetooth.connected:hover { background-color: alpha(@info, 0.5); }
#bluetooth.no-controller:hover { background-color: alpha(@critical, 0.5); }

/* Pulseaudio */
#pulseaudio.muted { color: @critical; }
#pulseaudio.muted:hover { background-color: alpha(@critical, 0.3); }

/* Hardware */
#memory, #cpu { color: @fg; }
#memory.20, #cpu.20 { color: @good; }
#memory.40, #cpu.40 { color: @warning; }
#memory.60, #cpu.60 { color: @accent; }
#memory.80, #cpu.80 { color: @critical; }
#memory.100, #cpu.100 { color: @critical; }
#memory.20:hover, #cpu.20:hover { background-color: alpha(@good, 0.3); }
#memory.40:hover, #cpu.40:hover { background-color: alpha(@warning, 0.3); }
#memory.60:hover, #cpu.60:hover { background-color: alpha(@accent, 0.3); }
#memory.80:hover, #cpu.80:hover { background-color: alpha(@critical, 0.3); }
#memory.100:hover, #cpu.100:hover { background-color: alpha(@critical, 0.3); }

#group-hardware {
  padding: 0 3px;
  border-radius: 0;
}

/* MPRIS */
/*#mpris {
  min-width: 250px;
  border-radius: 6px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#mpris.playing {
  background: linear-gradient(45deg, alpha(@accent, 0.75), alpha(@accent-hover, 0.75), alpha(@info, 0.75), alpha(@good, 0.75), alpha(@accent-hover, 0.75), alpha(@accent, 0.75));
  background-size: 200% 200%;
  animation: background-rainbow 5s linear infinite;
}

#mpris.playing:hover {
  background: linear-gradient(45deg, alpha(@accent, 0.85), alpha(@accent-hover, 0.85), alpha(@info, 0.85), alpha(@good, 0.85), alpha(@accent-hover, 0.85), alpha(@accent, 0.85));
  background-size: 200% 200%;
  animation: background-rainbow 3s linear infinite;
}*/

@keyframes background-rainbow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Notification */
#custom-notification {
  color: @fg;
  padding: 0 6px;
  border-radius: 0;
  background-color: @surface;
  transition: all 0.3s ease;
}

/* Tray */
#tray {
  color: @fg;
  padding: 0 12px;
  border-radius: 0;
  background-color: @surface;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#tray menu {
  background-color: @surface;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 8px 0;
  min-width: 200px;
  border: 1px solid alpha(@bg, 0.9);
  outline: 1px solid alpha(@bg, 0.9);
}

#tray menu menuitem {
  padding: 8px 16px;
  color: @fg;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid alpha(@bg, 0.3);
}

#tray menu menuitem:last-child { border-bottom: none; }
#tray menu menuitem:hover {
  background-color: alpha(@accent-hover, 0.2);
  color: @accent;
}

#tray menu separator {
  background-color: alpha(@fg-sub, 0.2);
  margin: 4px 0;
  border-top: 1px solid alpha(@bg, 0.3);
}

/* Tooltip */
tooltip {
  border-radius: 12px;
  background-color: alpha(@bg, 0.9);
  border: 2px solid alpha(@bg, 0.9);
  padding: 10px;
  box-shadow: 0 4px 12px alpha(@bg, 0.2);
  font-size: 12px;
}